<div class="edit-profile-container card">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Editar Perfil</h2>
        <span><a href="#">Volver</a></span>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
        <section class="profile-section">
            <h3>Información Personal</h3>
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control">
                <div *ngIf="profileForm.get('nombre')?.invalid && (profileForm.get('nombre')?.dirty || profileForm.get('nombre')?.touched)"
                    class="alert alert-danger">
                    El nombre es requerido.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control">
                <small class="form-text text-muted">El email no se puede cambiar desde aquí.</small>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono </label>
                <input type="tel" id="telefono" formControlName="telefono" class="form-control">
            </div>
        </section>

        <section class="profile-section">
            <h3>Detalles Profesionales</h3>
            <p class="text-muted"><small>Selecciona tus detalles.</small></p>

            <div class="form-group">
                <label>Categorías de Servicios Ofrecidos</label>
                <div *ngFor="let categoria of availableCategories" class="form-check">
                    <input type="radio" id="categoria_{{categoria}}" formControlName="categoriasServicio"
                        [value]="categoria" class="form-check-input">
                    <label class="form-check-label" for="categoria_{{categoria}}">{{ categoria }}</label>
                </div>
            </div>


            <div class="form-group">
                <label for="selectedDetails">Detalles Seleccionados</label>
                <textarea id="selectedDetails" formControlName="selectedDetails" class="form-control" rows="4"
                    readonly></textarea>
            </div>
        </section>

        <section class="profile-section">
            <h3>Tipo de Usuario</h3>
            <div class="form-group">
                <div class="form-check">
                    <input type="radio" id="role_cliente" formControlName="role" value="cliente"
                        class="form-check-input">
                    <label class="form-check-label" for="role_cliente">Cliente</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="role_trabajador" formControlName="role" value="trabajador"
                        class="form-check-input">
                    <label class="form-check-label" for="role_trabajador">Trabajador</label>
                </div>
            </div>
        </section>

        <section class="profile-section">
            <h3>Ubicación</h3>
            <div class="form-group">
                <label for="ubicacion">Escribe tu Ubicación</label>
                <textarea id="ubicacion" formControlName="ubicacion" class="form-control" rows="3"></textarea>
            </div>
        </section>

        <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Guardar Cambios de
            Perfil</button>

    </form>

    <hr class="my-4">

    <section class="profile-section">
        <h3>Cerrar Sesión</h3>
        <div class="mt-4">
            <button type="button" (click)="handleLogout()" class="btn btn-primary">Cerrar Sesión</button>
        </div>

        <hr class="my-4">
        <h3>Cambiar Contraseña</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
            <div class="form-group">
                <label for="currentPassword">Contraseña Actual</label>
                <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="newPassword">Nueva Contraseña</label>
                <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                <div *ngIf="passwordForm.errors?.['mismatch'] && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)"
                    class="alert alert-danger mt-1">
                    Las contraseñas no coinciden.
                </div>
            </div>

            <div *ngIf="passwordChangeSuccessMessage" class="alert alert-success mt-2 mb-3">
                {{ passwordChangeSuccessMessage }}
            </div>

            <div *ngIf="passwordChangeErrorMessage && !passwordChangeSuccessMessage"
                class="alert alert-danger mt-2 mb-3">
                {{ passwordChangeErrorMessage }}
            </div>
            <button type="submit" class="btn btn-warning" [disabled]="passwordForm.invalid">Cambiar Contraseña</button>
        </form>
    </section>
</div>